<template>
	<b-container class="home">
		<b-row class="pt-4 my-4">
			<b-col class="text-center text-md-left">
				<h3 class="my-4">Jobs</h3>
			</b-col>
			<b-col class="d-flex justify-content-center align-items-center align-items-center">
				<b-btn v-b-modal.createJob variant="primary" class="w-50">Create new</b-btn>
			</b-col>
		</b-row>
		<b-row>
			<b-col cols="12">
				<b-table
						striped
						hover
						:fields="fields"
						:items="jobs"
						@row-clicked="openJob">
				</b-table>
			</b-col>
		</b-row>
		<b-modal id="createJob" title="Add new job" @ok="createJob">
			<b-form>
				<b-form-group
						id="input-group-10"
						label="Subject:"
						label-for="input-10">
					<b-form-input
							id="input-10"
							v-model="form.KEYWORD"
							required
							placeholder="Subject">
					</b-form-input>
				</b-form-group>
				<b-form-group
						id="input-group-1"
						label="Job:"
						label-for="input-1">
					<b-form-input
							id="input-1"
							v-model="form.ITDPROBLEM"
							required
							placeholder="Job">
					</b-form-input>
				</b-form-group>
				<b-form-group
						id="input-group-5"
						label="Customer:"
						label-for="input-5">
					<b-form-input
							id="input-5"
							v-model="form.ITDKUNDE"
							required
							placeholder="Customer">
					</b-form-input>
				</b-form-group>
				<b-form-group id="input-group-2" label="Melder:" label-for="input-2">
					<b-form-input
							id="input-2"
							v-model="form.ITDMELDER"
							required
							placeholder="Melder">
					</b-form-input>
				</b-form-group>
				<b-form-group
						id="input-group-3"
						label="Priority:"
						label-for="input-3">
					<b-form-input
							id="input-3"
							v-model="form.GWSPRIORITY"
							required
							placeholder="Priority">
					</b-form-input>
				</b-form-group>
				<b-form-group id="input-group-4" label="Status:" label-for="input-4">
					<b-form-input
							id="input-4"
							v-model="form.GWSSTATUS"
							required
							placeholder="Status">
					</b-form-input>
				</b-form-group>
			</b-form>
		</b-modal>
	</b-container>
</template>

<script>
    export default {
        data() {
            return {
                jobs: [],
                form: {},
                fields: [
					{
						key: "fields.KEYWORD",
						label: "Subject",
						sortable: true
					},
                    {
                        key: "fields.ITDPROBLEM",
                        label: "Job",
                        sortable: true
                    },
					{
						key: "fields.ITDKUNDE",
						label: "Customer",
						sortable: true
					},
                    {
                        key: "fields.ITDMELDER",
                        label: "Melder",
                        sortable: true
                    },
                    {
                        key: "fields.GWSPRIORITY",
                        label: "Priority",
                        sortable: true
                    },
                    {
                        key: "fields.GWSSTATUS",
                        label: "Status",
                        sortable: true
                    },
					{
						key: "fields.INSERTTIMESTAMP",
						label: "Created at",
						sortable: true
					}
                ]
            };
        },
        mounted() {
            this.getJobs('jobs');
        },
        methods: {

            getJobs() {
                this.$api.get("jobs/full")
                    .then(response => {
                        this.jobs = response.data;
                    });
            },

            openJob(data) {
                this.$router.push("jobs/" + data.fields.GGUID);
            },

            createJob() {
                let data = {
                    fields: this.form
                };
                this.$api.post('jobs', data)
                    .then(response => {
                            if (response.status === 201) {
                                this.getJobs();
                            }
                        }
                    );
            }
        }
    };
</script>

<style lang="scss">
	.home {
		tr {
			&:hover {
				cursor: pointer;
			}
		}
	}
</style>
