<template>
	<b-container class="home" v-if="job">
		<b-row class="pt-4">
			<b-col class="d-flex align-items-center justify-content-center">
				<b-link to="/">
					<b-icon-chevron-left></b-icon-chevron-left>
				</b-link>
				<h3 class="pl-4 m-0">Job data</h3>
			</b-col>
		</b-row>
		<hr>

		<hr>
		<b-row class="justify-content-center">

			<table class="table">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Subject</th>
					<th scope="col">Problem</th>
					<th scope="col">Customer</th>
					<th scope="col">Melder</th>
					<th scope="col">Priority</th>
					<th scope="col">Status</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row">{{ job.fields.KEYWORD }}</th>
					<th>{{ job.fields.ITDPROBLEM }}</th>
					<td>{{ job.fields.ITDKUNDE }}</td>
					<td>{{ job.fields.ITDMELDER }}</td>
					<td>{{ job.fields.GWSPRIORITY }}</td>
					<td>{{ job.fields.GWSSTATUS }}</td>
					<td>
						<b-btn v-b-modal.editJob variant="primary" class="">Update</b-btn>
					</td>
					<td>
						<b-btn v-b-modal.deleteJob variant="danger" class="">Delete</b-btn>
					</td>
				</tr>
				</tbody>
			</table>
			<b-btn v-on:click="back"  variant="primary" class="">Back</b-btn>
		</b-row>
		<hr>
		<b-modal
				centered
				id="editJob"
				title="Edit current job"
				@ok="editJob"
		>
			<b-form>
				<b-form-group
						id="input-group-10"
						label="Subject:"
						label-for="input-10">
					<b-form-input
							id="input-10"
							v-model="job.fields.KEYWORD"
							required
							placeholder="Subject">
					</b-form-input>
				</b-form-group>
				<b-form-group
						id="input-group-1"
						label="Job:"
						label-for="input-1"
				>
					<b-form-input
							id="input-1"
							v-model="job.fields.ITDPROBLEM"
							required
							placeholder="Job"
					></b-form-input>
				</b-form-group>

				<b-form-group
						id="input-group-5"
						label="Customer:"
						label-for="input-5"
				>
					<b-form-input
							id="input-5"
							v-model="job.fields.ITDKUNDE"
							required
							placeholder="Customer"
					></b-form-input>
				</b-form-group>

				<b-form-group id="input-group-2" label="Melder:" label-for="input-2">
					<b-form-input
							id="input-2"
							v-model="job.fields.ITDMELDER"
							required
							placeholder="Melder"
					></b-form-input>
				</b-form-group>

				<b-form-group
						id="input-group-3"
						label="Priority:"
						label-for="input-3"
				>
					<b-form-input
							id="input-3"
							v-model="job.fields.GWSPRIORITY"
							required
							placeholder="Priority"
					></b-form-input>
				</b-form-group>

				<b-form-group id="input-group-4" label="Status:" label-for="input-4">
					<b-form-input
							id="input-4"
							v-model="job.fields.GWSSTATUS"
							required
							placeholder="Status"
					></b-form-input>
				</b-form-group>
			</b-form>
		</b-modal>

		<b-modal
				centered
				id="deleteJob"
				title="Delete current Job"
				ok-variant="danger"
				@ok="deleteJob"
		>
			<b-modal-text>
				Are you sure you want to delete this Job?
			</b-modal-text>
		</b-modal>

		<b-row class="pt-4">
			<b-col class="d-flex align-items-center justify-content-center">
				<b-link to="/">
					<b-icon-chevron-left></b-icon-chevron-left>
				</b-link>
				<h5 class="pl-4 m-0">Dossier data</h5>
			</b-col>
		</b-row>
		<b-row class="justify-content-center">

			<table class="table">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Type</th>
					<th scope="col">Creator</th>
					<th scope="col">Created at</th>
				</tr>
				</thead>
				<tbody>

				<tr v-for="dos in dossier" >
					<th scope="row">{{ dos.fields.KEYWORD }}</th>
					<td>{{ dos.fields.OBJECTTYPE2 }}</td>
					<td>{{ dos.fields.INSERTUSER }}</td>
					<td>{{ dos.fields.INSERTTIMESTAMP }}</td>
				</tr>
				</tbody>
			</table>
			<b-btn v-on:click="back"  variant="primary" class="">Back</b-btn>
		</b-row>
		<hr>


	</b-container>
</template>

<script>
    export default {
        data() {
            return {
                job: null,
				dossier: null,
				form: {}

            };
        },
        methods: {

            getJob() {
                this.$api.get('jobs/' + this.$route.params.gguid)
                    .then(response => {
                        this.job = response.data;
                        this.etag = response.headers.etag;
                    });
            },

            editJob() {
                let data = {
                    fields: this.job.fields
                };
                this.$api.put("jobs/" + this.$route.params.gguid, data,
                    {
                        headers: {
                            "If-Match": this.etag,
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.getJob();
                        }
                    });
            },

            deleteJob() {
                this.$api.delete('jobs/' + this.$route.params.gguid)
                    .then(response => {
                        if (response.status === 200) {
                            this.$router.push('/');
                        }
                    })
            },

			getDossier() {

				this.$api.get('jobs/' + this.$route.params.gguid + '/dossier/full')
						.then(response => {
							this.dossier = response.data;
						});
			},


			back() {
				this.$router.push('/');
			}

        },
        mounted() {
            this.getJob();
			this.getDossier();

		}
    };
</script>
